<div style="text-align: center;">
  <h1 *ngIf = "counter > 0">
    My name is {{ name | lowercase }}
  </h1>
  <p [ngStyle]="{'background-color': mycolor}">{{counter}}</p>
  <input type="text" [(ngModel)]="name"/>
  <button (click)="btnClicked()">Click me</button>
  <div *ngFor="let person of people">
    <h3 [ngClass]="{'red': person.age > 30}">{{person.name}} is {{person.age}} years old.</h3>
  </div>
  <h3>{{ today | date:"dd/MM/yy" }}</h3>
  <h2>{{ cash | currency:"EUR" }}</h2>
</div>
<router-outlet></router-outlet>
